@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
body {
  background-image: url("./assests/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
}
.ag {
  display: none;
}
.over {
  margin-left: 3.7rem;
}
.child {
  margin-left: 3.7rem;
}
.shoot {
  margin-left: 2.2rem;
}
.mobile {
  display: none;
}
.title {
  margin-top: 3.5rem;
  margin-left: -1rem;
  font-family: "Nexa";
  font-size: 35px;
  line-height: 53.36px;
}

.dot {
  color: #fe6927;
}

.para {
  font-family: "NexaL";
  font-weight: 400;
  font-size: 20px;
  line-height: 41.17px;
  margin-top: 0rem;
  margin-left: 6rem;
}

.perks {
  color: #ff4e00;
  font-family: "NexaL";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  list-style: none;
}
.shoot_br {
  display: none;
}

.perks li {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
}

.curriculum {
  font-family: "Nexa";
  font-size: 40px;
  line-height: 35px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
}

.curr {
  font-family: "NexaL";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  list-style: none;
}

.curr li {
  padding-left: 4rem;
  padding-bottom: 1rem;
  font-size: 20px;
}

.form_field {
  margin-left: 5rem;
  background: linear-gradient(
    163.62deg,
    rgba(254, 209, 189, 0.5) -0.85%,
    rgba(238, 206, 191, 0.295) 95.8%
  );
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  margin-top: 8rem;
  width: 100%;
  /* height: 42rem; */
  /* margin: auto; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 3rem;
}
.form_head {
  font-family: "Nexa";
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #283740;
  padding-bottom: 2rem;
}
input,
select {
  outline: none;
  border: none;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  /* padding: 32px 256px 32px 32px; */
  width: 20rem;
  height: 4rem;
  border-radius: 89px;
  box-shadow: 0px 4px 42px #efcbbb;
  color: #ff4e00;
  font-family: "NexaL";
  font-style: normal;
}

button {
  /* outline: none; */
  /* border: none; */
  cursor: pointer;
  margin-bottom: 4rem;
  background-color: #ff4e00;
  width: 20rem;
  height: 4rem;
  border-radius: 89px;
  box-shadow: 0px 4px 42px #efcbbb;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  font-family: "NexaL";
  font-style: normal;
  transition: 0.2s all;
}

button:hover {
  background-color: #ff4e00;
  opacity: 0.8;
  transform: scale(0.98);
}
.desktop_footer {
  font-family: "Roboto";
  font-size: 16px;
}

@media (max-width: 1440px) {
  .child,
  .shoot {
    margin-left: 2rem;
  }
  .shoot_br {
    display: block;
  }
  .over {
    margin-left: 0rem;
  }
  .over2 {
    margin-left: 3.7rem;
  }
  .child {
    margin-left: 3.7rem;
  }
  .title {
    margin-left: 0rem;
  }
  .para {
    margin-top: 2rem;
    padding-left: 5rem;
  }
  .curriculum {
    margin-left: 11rem;
  }
  .curr li,
  .perks li {
    margin-left: 5rem;
    padding-bottom: 0.5rem;
  }

  .curr li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding-bottom: 1rem !important;
  }
}

@media (max-width: 1024px) {
  body {
    background-image: url("./assests/bgnew.svg");
  }
  .response {
    margin-left: 3.7rem;
  }
  .child {
    margin-left: 0;
  }
  .measure {
    margin-left: 3.7rem;
  }
  .over {
    margin-left: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .title {
    margin-top: 3rem;
    margin-left: 8.5rem;
    font-size: 40px;
    line-height: 53px;
  }
  .para {
    margin-top: 1rem;
    padding-left: 2rem;
  }
  .perks li {
    margin-left: 2rem;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; */
  }
  .curriculum {
    font-size: 40px;
    line-height: 46.4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .curr {
    font-family: "NexaL";
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    list-style: none;
  }

  .curr li {
    padding-left: 4rem;
    padding-bottom: 2rem;
  }

  .form_field {
    margin-left: 5rem;
    border-radius: 16px;
    margin-top: 8rem;
    width: 100%;
    padding-top: 3rem;
  }
  .form_head {
    font-family: "Nexa";
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #283740;
    padding-bottom: 2rem;
  }
  input,
  select {
    width: 23rem;
    height: 5rem;
  }

  button {
    width: 23rem;
  }

  .over {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  body {
    background-position: top;
  }

  .child_align,
  .measure {
    margin-left: 0;
  }
  .tab {
    margin-left: 3.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .title {
    margin-left: 3rem;
  }

  .para {
    margin-left: 1rem;
  }
  .perks {
    margin-left: -3rem;
  }
  .perks li {
    padding-left: 1rem;
    padding-bottom: 1rem;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; */
  }

  .curriculum {
    margin-left: 4rem;
  }

  .curr li {
    margin-left: -3rem;
    padding-bottom: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .form_field {
    margin-left: 1rem;
  }
  input,
  select {
    width: 18rem;
    height: 5rem;
  }

  button {
    width: 18rem;
  }

  .over2 {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .mobile_one {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desktop_footer {
    display: none;
  }
  body {
    background-image: url("./assests/mobile_bg.svg");
    background-repeat: no-repeat;
    background-size: top;
  }

  .mobile_title {
    font-family: "Nexa";
    font-weight: 700;
    font-size: 22px;
    color: #283740;
  }

  .mobile_para {
    font-family: "NexaL";
    font-weight: 400;
    font-size: 16px;
    line-height: 26.35px;
    padding: 0 1.5rem;
    color: #617078;
  }
  .form_head {
    font-size: 22px;
  }

  form {
    margin-top: -2rem;
  }
  .mobile_form_field {
    background: linear-gradient(
      163.62deg,
      rgba(254, 209, 189, 0.5) -0.85%,
      rgba(238, 206, 191, 0.295) 95.8%
    );
    margin: 0 1rem;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 16px;
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  button {
    font-size: 17px;
    transition: 0.2s all;
  }
  button:hover {
    background-color: #ff4e00;
    opacity: 0.8;
    transform: scale(0.98);
  }

  .mobile_perks {
    background: rgba(254, 209, 189, 0.5);
    border: 2px solid #ff4e00;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 16px;
    color: #283740;
    font-family: "Nexa";
    font-size: 15.32px;
    margin: 0 1rem;
    line-height: 15.32px;
  }

  .curr_title {
    font-family: "Nexa";
    color: #283740;
    font-size: 25px;
  }

  .mobile_cirriculum {
    font-family: "NexaL";
    color: #283740;
  }
  .curr_perk {
    font-size: 16px;
    font-weight: bold;
  }
  .mobile_footer {
    font-family: "Roboto";
    color: #607078;
    font-size: 10px;
  }
  input,
  select {
    width: 16rem;
    height: 2.5rem;
  }

  button {
    width: 16rem;
    height: 2.5rem;
  }

  .personalized {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 376px) {
  .break {
    display: none;
  }
  .mobile_one {
    display: block;
  }
  .personalized {
    margin-left: 1rem !important;
  }
}
@media (max-width: 320px) {
  input,
  select {
    width: 16rem;
    height: 3rem;
  }

  .mobile_one {
    display: none;
  }
  .mobile_coach {
    margin-top: 2.5rem !important;
  }
}

@font-face {
  font-family: Nexa;
  src: url("./assests/Nexa Bold.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: NexaL;
  src: url("./assests/Nexa Light.otf") format("opentype");
  font-style: normal;
}
