body {
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  margin-top: 4rem;
  margin-left: 4rem;
  width: 10%;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(240, 90, 30);
}

.acad_name {
  font-weight: bold;
  font-size: 24px;
}

.center_name {
  font-weight: bold;
  font-size: 14px;
}

.name,
.email,
.phone,
.sport,
.time,
.batch_type {
  font-size: 14px;
  margin-bottom: 0rem;
}
.details,
.batch_detail {
  font-weight: bold;
}
.batch {
  margin-left: -5rem;
}
.mobile_line {
  display: none;
}
.details_align {
  margin-left: 15rem;
}
.line {
  border-top: 1px solid rgb(229, 229, 229);
}
@media only screen and (max-width: 768px) {
  .details_align {
    margin-left: 10rem;
  }

  .batch {
    margin-left: 0;
  }
  .logo {
    width: 20%;
  }
}
@media only screen and (max-width: 430px) {
  .logo {
    width: 25%;
    margin-left: 2rem;
  }
  .details_align {
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
  .mobile_line {
    display: block;
  }

  .line {
    width: 250px;
  }
}
